<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       https://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       https://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context
       https://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>
    <!--配置数据源-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/newsql?useUnicode=true&amp;characterEncoding=utf8&amp;serverTimezone=GMT&amp;useSSL=true"/>
        <property name="username" value="root"/>
        <property name="password" value="54188"/>
    </bean>
    <!--create a sqlSessionFactory-->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <!--link mybatis config file-->
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:com/yyds/mapper/*.xml"/>
    </bean>
    <!--create a spring sqlSessionTemplate is mybatis's sqlSession    -->
    <bean id="sqlSession" class="org.mybatis.spring.SqlSessionTemplate">
    <!--only accross constructor create sqlSessionFactory，because it dont have set method-->
        <constructor-arg index="0" ref="sqlSessionFactory"/>
    </bean>
    <!--配置声明式事务-->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <constructor-arg index="0" ref="dataSource"/>
    </bean>

    <!--使用AOP实现事务的织入-->
    <!--第一步：配置声明式事务-->
    <tx:advice id="txAd" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="deleteUserById" propagation="REQUIRED"/>
            <tx:method name="getUser" read-only="true"/>
        </tx:attributes>
    </tx:advice>

    <!--配置事务切入点切入-->
    <aop:config>
        <!--配置切入点-->
        <aop:pointcut id="pct" expression="execution(* com.yyds.mapper.UserMapper.*(..))"/>
        <aop:advisor advice-ref="txAd" pointcut-ref="pct"/>
    </aop:config>



</beans>