<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
namespace:名称空间
id:唯一标识
resultType:返回值类型
#{id}:从传过来的参数中取出id值
-->
<mapper namespace="com.yyds.test.EmployMapper">
    <!--namespace：指定为接口的全类名
        id:改为接口中方法的名称
        public Employ getEmpById(Integer id)
        -->
    <select id="getEmpById" resultType="com.yyds.test.Employ">
        select * from tbl_employ where id = #{id}
    </select>
</mapper>